
<button id="scrapeButton" type="submit" class="submit">SCRAPE</button>

<div id="articles">
</div>
<div id="newsArticles">
<ul>
  {{#each article}}
      <li id="unclaimed">
        <p>
        Number: {{this.id}} <span> id: </span> {{this.title}} </p> 
        <p> Link: {{this.link}} </p> <span> Comments: {{this.note}} </span>
        </p>
      </li>
  
  {{/each}}
</ul>
</div>
      <!-- FOOTER -->

      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Created by: Maryann Jordan, &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>


<script>

$(function() {


  $(".food").on("click", function(event) {
    var id = $(this).data("foodid");
    var charityPickedUp = {
      charityPickedUpFlag: 1
    };
    
    $.ajax("/api/donations/" + id, {
      type: "PUT",
      data: charityPickedUp
    }).then(
      function() {
        console.log("You claimed the donation");
        location.reload();
      }
    )
   })
  });
</script>